$main-color: #1e88e5;
$inactive-field: #9e9e9e;
$focus-field: #26a69a;
$color-error: #f44336;
$color-valid: #4caf50;
$color-active-menu: #2196f3;
$color-grey-darken-2: #616161;
$color-grey-darken-3: #424242;
$color-grey-lighten-2: #e0e0e0;
$color-blue-lighten-3: #90caf9;
$color-error: #c62828;
