@import '../../assets/scss/colors.scss';

.badge {
  // block
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
  min-width: 2rem;

  // modificator
  &_theme_base {
    background-color: $color-main-not-active;
    color: $color-font-base;
  }

  // modificator
  &_theme_active {
    background-color: $color-main;
    color: $color-font-base;
    cursor: default;
  }

  &:hover {
    background-color: $color-main;
    color: $color-font-base;
  }
}
