@import '../../assets/scss/colors.scss';

.badge {
  // block
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
  min-width: 2rem;
  background-color: $color-main--not-active;
  color: $color-font;

  // modificator
  &--active {
    background-color: $color-main;
    color: $color-font;
    cursor: default;
  }

  &:hover {
    background-color: $color-main;
    color: $color-font;
  }
}
