@import '../../index.scss';

.input-field {

  position: relative;
  margin: 1rem 0;
  
  // element "Input"
  &__input {
    width: 100%;
    outline: none;
    border: none;
    height: 3rem;
    font-size: 1rem;
    padding: 0;
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid $inactive-field;
    box-shadow: none;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease;

    &:focus {
      border-bottom: 1px solid $focus-field;
      box-shadow: 0 1px 0 0 $focus-field;
      transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
    }

    // modificator
    // when input is valid
    &--valid {
      border-bottom: 1px solid $color-valid;
    }
    &--valid:focus {
      border-bottom: 1px solid $color-valid;
      box-shadow: 0 1px 0 0 $color-valid;
      transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
    }

    // modificator
    // when input is not valid
    &--invalid {
      border-bottom: 1px solid $color-font--error;
    }
    &--invalid:focus {
      border-bottom: 1px solid $color-font--error;
      box-shadow: 0 1px 0 0 $color-font--error;
      transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
    }
  }

  // element "Label"
  &__label {

    font-size: 1rem;
    color: $inactive-field;
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    transform: translateY(12px);
    transition: transform 0.3s ease;

    // modificator
    &--active {
      font-size: 0.8rem;
      transform: translateY(-14px);
      transition: transform 0.3s ease;
    }
    // modificator
    &--focused {
      color: $focus-field;
    }
    // modificator
    &--valid {
      color: $color-valid;
    }
    // modificator
    &--invalid {
      color: $color-font--error;
    }
  }


  // Error
  &__error {
    color: $color-font--error;
    font-size: 0.8rem;
  }

  &__select {
    cursor: pointer;
  }


  // element
  &__caret {
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
  }
}