@import '../../index.scss';

.input-field1 {

  position: relative;
  margin: 1rem 0;
  
  input {
    width: 100%;
    outline: none;
    border: none;
    height: 3rem;
    font-size: 1rem;
    padding: 0;
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid $inactive-field;
    box-shadow: none;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease;

    &:focus {
      border-bottom: 1px solid $focus-field;
      box-shadow: 0 1px 0 0 $focus-field;
      transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
    }

  }

  label {
    font-size: 1rem;
    color: $inactive-field;
    position: absolute;
    left: 0.75rem;
    top: 0;
    cursor: text;
    transform: translateY(12px);
    transition: transform 0.3s ease;

    &.active {
      transform: translateY(-14px) scale(0.8);
      transition: transform 0.3s ease;
    }

  }

  span {
    color: $color-error;
    font-size: 0.8rem;
  }

  .select-wrapper > input {
    cursor: pointer;
  }

  .caret {
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
  }

  // when input is invalid
  &.invalid {

    input {
      border-bottom: 1px solid $color-error;
      &:focus {
        border-bottom: 1px solid $color-error;
        box-shadow: 0 1px 0 0 $color-error;
        transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
      }
    }
    
  }

  // when input is valid
  &.valid {

    input {
      border-bottom: 1px solid $color-valid;
      &:focus {
        border-bottom: 1px solid $color-valid;
        box-shadow: 0 1px 0 0 $color-valid;
        transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
      }
    }
    
  }

  .select-list {

    list-style: none;
    border: 1px solid black;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 990;
    background-color: #fff;
    
    li {
      padding: 15px;
      cursor: pointer;
    }

    li.selected, li:hover {
      background-color: rgba($color: $color-blue-lighten-3, $alpha: 0.3);
      position: relative;
    }

    li.selected {
      .select-list-item-tick {
        position: absolute;
        right: 15px;
        top: 10px;
        border-bottom: 2px solid $color-active-menu;
        border-right: 2px solid $color-active-menu;
        width: 12px;
        height: 18px;
        display: inline-block;
        transform: rotate(40deg);
      }
    }

    &-item-title {
      color: $color-active-menu;
      font-size: 1rem;
    }

    li.header {
      background-color: $color-grey-lighten-2;

      span {
        font-weight: 500;
        font-size: 1rem;
        color: $color-grey-darken-2;
      }

    }

  }
}