.toast-container {
  position: fixed;
  // border: 1px solid #000;
  top: 100px;
  right: 50px;
  // bottom: 100px;
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5px;
  list-style: none;
  transition: all .5s cubic-bezier(.36,-.64,.34,1.76);

}

.toast {
  // width: 100%;
  min-height: 60px;
  // height: 60px;
  font-size: 14px;
  padding: 5px 5px 20px;
  margin: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: block;
  opacity: .7;
  // display: none;


  &__text {
    margin: 0 25px 0 0;
    padding: 5px;
    display: flex;
    align-items: center;
    // height: 100%;
  }

  &__times {
    position: absolute;
    padding: 3px;
    top: 5px;
    right: 5px;
    font-size: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__times:hover {
    background-color: rgba($color: #fff, $alpha: 0.5);
    color: rgba($color: #000, $alpha: 0.7);
    border-radius: 5px;
  }

  &__progress-bar {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
  }

}


// Slide
.toast-slide-enter {
  animation-name: toast-slide;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.toast-slide-exit {
  animation-name: toast-slide-out;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes toast-slide {
  0% { 
    transform: translateX(200%);
    opacity: 0;
  }
  33% {
    transform: translateX(100%);
    opacity: 0.2;
  }
  66% {
    transform: translateX(70%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 0.7;
  }
}

@keyframes toast-slide-out {
  0% { 
    transform: translateX(0);
    opacity: 0.7;
  }
  33% {
    transform: translateX(70%);
    opacity: 0.5;
  }
  66% {
    transform: translateX(100%);
    opacity: 0.2;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

// Zoom
.toast-zoom-enter {
  animation-name: toast-zoom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.toast-zoom-exit {
  animation-name: toast-zoom-out;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes toast-zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: .7;
  }
}

@keyframes toast-zoom-out {
  from {
    opacity: .7;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

// Opacity
.toast-opacity-enter {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: linear;
}
.toast-opacity-enter-active {
  opacity: .7;
  transition-property: opacity;
  transition-timing-function: linear;
}
.toast-opacity-exit {
  opacity: .7;
}
.toast-opacity-exit-active {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: linear;
}
