@import '../../index.scss';

// Floating Button
.btn-floating {  

  width: 56px;
  height: 56px;
  display: block;
  border-radius: 50%;
  line-height: 56px;
  background-color: $color-main;
  color: $color-font;
  cursor: pointer;

  // How is it right? element of modificator
  &--fixed {
    position: fixed;
    right: 23px;
    bottom: 23px;
    z-index: 997;
  }

  &__icon {
    line-height: inherit;
    text-align: center;
    width: 100%;
  }
}
