@import '../../index.scss';

.header {
  
  height: 64px;
  line-height: 64px;
  width: 100%;
  background-color: $color-main;
  color: #fff;

  // element
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // element
  &__main {
    display: flex;
  }

  // element
  &__menu {
    margin-left: 40px;
  }

  // element
  &__logo {
    margin-left: 40px;
  }

  // element
  &__profile {
    margin-right: 2rem;
  }
  
}

  // .header-profile {
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   line-height: 16px;
  //   align-items: center;
  //   height: 100%;
  //   cursor: pointer;
  //   transition: background-color 0.5s ease;
  //   padding: 0 5px;

  //   &:hover {
  //     transition: background-color 0.5s ease;
  //     background-color: rgba($color: #000, $alpha: 0.1);
  //   }

  //   img {
  //     width: 20px;
  //     height: 20px;
  //   }

  //   &__username {
  //     margin-top: 5px;
  //     font-weight: 500;
  //   }
  // }

