@import '../../index.scss';

.input-checkbox {
  // вынести в элемент
  margin: 24px 0;

  // element
  &__label {
    padding-left: 15px;
    font-size: 1rem;
    color: $color-grey-darken-2;
    cursor: pointer;
  }

  // element
  &__text {
    position: relative;
  }

  // element
  &__input {
    opacity: 0;
    pointer-events: none;
  }

  // input[type="checkbox"]+span::before {
  &__input+&__text::before {
      content: '';
      position: absolute;
      left: -30px;
      top: -2px;
      width: 18px;
      height: 18px;
      border: 2px solid $color-grey-darken-2;
      cursor: pointer;
      transition: border 0.2s ease, transform 0.2s ease;
  }

  &__input:checked+&__text::before {

      left: -25px;
      top: -6px;
      width: 10px;
      height: 18px;
      border-bottom: 2px solid $color-font--focus;
      border-right: 2px solid $color-font--focus;
      border-top: none;
      border-left: none;
      cursor: pointer;
      transform: rotate(40deg);
      transition: border 0.2s ease, transform 0.2s ease;
  }

}