// import fonts
@import './assets/scss/fonts.scss';
// import colors
@import './assets/scss/colors.scss';


// COMMON SELECTORS

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


// CONTAINER

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  .col-1 {
    width: 8.3333333333%;
    position: relative;
  }

  .col-2 {
    width: 16.6666666667%;
    position: relative;
  }

  .col-3 {
    width: 25%;
    position: relative;
  }

  .col-4 {
    width: 33.3333333333%;
    position: relative;
  }

  .col-5 {
    width: 41.6666666667%;
    position: relative;
  }

  .col-6 {
    width: 50%;
    position: relative;
  }


  .offset-3 {
    margin-left: 25%;
  }

}


// UTILS

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.w-content {
  width: fit-content;
}

