@import "../../index.scss";

.error-indicator {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-font--error;
  font-size: 1.7rem;

  // element
  &__img {
    margin: 1rem 0;
    max-width: 150px;
    max-height: 125px;
  }

  // element
  // &__header {}

}
